
<footer class="ranna-bg-light">
  <div class="container">
      <div class="footer-logo">
          <a href="index.html"><img src="assets/img/logo-dark.png" class="img-fluid" alt="footer-logo"></a>
      </div>
     <!--  <div class="footer-menu">
          <ul>
              <li><a href="#">FACEBOOK</a></li>
              <li><a href="#">TWITTER</a></li>
              <li><a href="#">INSTAGRAM</a></li>
              <li><a href="#">PINTEREST</a></li>
              <li><a href="#">GOOGLEPLUS</a></li>
              <li><a href="#">YOUTUBE</a></li>
          </ul>
      </div> -->
      <div class="copyright"><a href="">BY FRANCK</a></div>
  </div>
</footer>
