
<section class="padding-bottom-45">
  <div class="container">
      <div class="row gutters-40">
          <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of randomRecettes ; let i=index">
              <div class="product-box-layout4">
                  <div class="item-figure">
                    <a *ngFor="let g of gallerie; let i=index" [routerLink]="['/recette',item.id_recette]"><img *ngIf="g.id_recette == item.id_recette" src="http://localhost:8085/image/{{g.galleriefilename}}" alt="Post" style="width:350px"></a>

                      <a href="single-recipe1.html" class="item-dot">
                          <span></span>
                          <span></span>
                          <span></span>
                      </a>
                  </div>
                  <div class="item-content">
                      <span class="sub-title">{{randomRecettes[i].categorie_recette }}</span>
                      <h3 class="item-title"><a href="single-recipe1.html">{{randomRecettes[i].titre_recette}}</a></h3>
                      <ul class="item-rating">
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-empty"><i class="fas fa-star"></i></li>
                          <li><span>9<span> / 10</span></span> </li>
                      </ul>
                      <ul class="entry-meta">
                          <li><a href="#"><i class="fas fa-clock"></i>{{randomRecettes[i].tempstotal_recette}}</a></li>
                          <li><a href="#"><i class="fas fa-user"></i>by <span>{{randomRecettes[i].id_utilisateur}}</span></a></li>
                          <li><a href="#"><i class="fas fa-heart"></i><span>{{randomRecettes[i].nblike }}</span> Likes</a></li>

                      </ul>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
