<section class="padding-bottom-45">
  <div class="container">
      <div class="row gutters-40">
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="product-box-layout4">
                  <div class="item-figure">
                      <img src="assets/img/product/product1.jpg" alt="Product">
                      <a href="single-recipe1.html" class="item-dot">
                          <span></span>
                          <span></span>
                          <span></span>
                      </a>
                  </div>
                  <div class="item-content">
                      <span class="sub-title">BREAKFAST</span>
                      <h3 class="item-title"><a href="single-recipe1.html">Tomatoes Stuffed with Foie and
                              Chanterelles</a></h3>
                      <ul class="item-rating">
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-empty"><i class="fas fa-star"></i></li>
                          <li><span>9<span> / 10</span></span> </li>
                      </ul>
                      <ul class="entry-meta">
                          <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                          <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                          <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="product-box-layout4">
                  <div class="item-figure">
                      <img src="assets/img/product/product2.jpg" alt="Product">
                      <a href="single-recipe1.html" class="item-dot">
                          <span></span>
                          <span></span>
                          <span></span>
                      </a>
                  </div>
                  <div class="item-content">
                      <span class="sub-title">DESERT</span>
                      <h3 class="item-title"><a href="single-recipe1.html">Pumpkin Cheesecake With
                              GingersnapCrust</a></h3>
                      <ul class="item-rating">
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-empty"><i class="fas fa-star"></i></li>
                          <li><span>9<span> / 10</span></span> </li>
                      </ul>
                      <ul class="entry-meta">
                          <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                          <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                          <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 d-block d-md-none d-lg-block col-sm-12">
              <div class="product-box-layout4">
                  <div class="item-figure">
                      <img src="assets/img/product/product3.jpg" alt="Product">
                      <a href="single-recipe1.html" class="item-dot">
                          <span></span>
                          <span></span>
                          <span></span>
                      </a>
                  </div>
                  <div class="item-content">
                      <span class="sub-title">JUICE</span>
                      <h3 class="item-title"><a href="single-recipe1.html">Blueberry Juice with Lemon Crema</a></h3>
                      <ul class="item-rating">
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-fill"><i class="fas fa-star"></i></li>
                          <li class="star-empty"><i class="fas fa-star"></i></li>
                          <li><span>9<span> / 10</span></span> </li>
                      </ul>
                      <ul class="entry-meta">
                          <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                          <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                          <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
