

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/utilisateur" >utilisateur</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/abonnement" >abonnement</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listrecette" >recette</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/commentaire"   >commentaire</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/etape"   >etape</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/ingredient"   >ingredient</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/recetteingredient"   >recetteingredient</a>
  </li>

</ul>
<br>
<br>
<H2 class="text-center">Créer un ingredient</H2>
<div class="container border">
    <form [formGroup]="formeditIngredient" (ngSubmit)="update()">
        <div class="form-group">
            <div class="input-field col s16">
                <label for="id_ingredient">id_ingredient</label>
                <input type="text" name="" id="id_ingredient" class="form-control" formControlName="id_ingredient" data-length="255">
            </div>
            <div class="input-field col s16">
              <label for="id_recette">id_recette</label>
              <input type="text" name="" id="id_recette" class="form-control" formControlName="id_recette" data-length="255">
          </div>

            <div class="input-field col s16">
                <label for="quantiteingredient">quantiteingredient</label>
                <input type="text" name="" id="quantiteingredient" class="form-control" formControlName="quantiteingredient" data-length="255">
            </div>
            <!-- <div class="input-field col s16">
              <label for="quantite">quantite</label>
              <input type="text" name="" id="quantite" class="form-control" formControlName="quantite" data-length="100">
            </div> -->
            <!-- <div class="input-field col s16">
              <label for="id_recette">id_recette</label>
              <input type="text" name="" id="id_recette" class="form-control" formControlName="id_recette" data-length="100">
            </div> -->

        </div>
        <button class="btn btn-success" type="submit">Soumettre</button>
    </form>
    <br>
</div>
{{formeditIngredient.value | json}}

