<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/utilisateur" >utilisateur</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/abonnement" >abonnement</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listrecette" >recette</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/commentaire"   >commentaire</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/etape"   >etape</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/ingredient"   >ingredient</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/recetteingredient"   >recetteingredient</a>
  </li>

</ul>
<br>
<br>
<H2 class="text-center">Editer un utilisateur</H2>
<div class="container border">
    <form [formGroup]="editutilisateurForm" (ngSubmit)="update()">
        <div class="form-group">
            <div class="input-field col s16">
                <label for="id_utilisateur"> id_utilisateur</label>
                <input type="text" name="" id="id_utilisateur" class="form-control" formControlName="id_utilisateur" data-length="10">
            </div>
            <div class="input-field col s16">
                <label for="pseudo_utilisateur"> pseudo_utilisateur</label>
                <input type="text" name="" id="pseudo_utilisateur" class="form-control" formControlName="pseudo_utilisateur" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="password_utilisateur"> password_utilisateur</label>
              <input type="text" name="" id="password_utilisateur" class="form-control" formControlName="password_utilisateur" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="genre">genre</label>
              <input type="text" name="" id="genre" class="form-control" formControlName="genre" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="email_utilisateur"> email_utilisateur</label>
              <input type="text" name="" id="email_utilisateur" class="form-control" formControlName="email_utilisateur" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="dateInscription_utilisateur"> dateInscription_utilisateur</label>
              <input type="text" name="" id="dateInscription_utilisateur" class="form-control" formControlName="dateInscription_utilisateur" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="ville_utilisateur"> ville_utilisateur</label>
              <input type="text" name="" id="ville_utilisateur" class="form-control" formControlName="ville_utilisateur" data-length="100">
            </div>
            <div class="input-field col s16">
              <label for="mesfavoris_utilisateur"> mesfavoris_utilisateur</label>
              <input type="text" name="" id="mesfavoris_utilisateur" class="form-control" formControlName="mesfavoris_utilisateur" data-length="100">
            </div>
        </div>
        <button class="btn btn-success" type="submit">Soumettre</button>
    </form>
    <br>
</div>
{{editutilisateurForm.value | json}}
