
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/utilisateur" >utilisateur</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/abonnement" >abonnement</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listrecette" >recette</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/commentaire"   >commentaire</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/etape"   >etape</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/ingredient"   >ingredient</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/recetteingredient"   >recetteingredient</a>
  </li>

</ul><br>
<H1 class="text-center">Liste des recettesingredients</H1>
<a routerLink="/addrecetteingredient" class="btn btn-success waves-effect waves-light btn right orange">recettesingredients</a>
<br>
<br>
<table id="table_id" class="table ">
    <thead>
        <tr>
            <th scope="col">id_recetteingredients</th>
                      <th scope="col">id_recette</th>
            <th scope="col">id_ingredient</th>
            <th scope="col">nom ingredient</th>
            <th scope="col">quantite</th>


          </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of recetteingredients">
        <th scope="row"> {{item.id_recetteingredients}}</th>
        <td>{{item.recette.id_recette}}</td>
        <td>{{item.ingredient.id_ingredient}}</td>
        <td>{{item.ingredient.nomingredients}}</td>
        <td>{{item.quantite}}</td>

        <td><a  routerLink="/editrecetteingredient/{{item.id_recetteingredients}}" class="btn btn-warning waves-effect waves-light btn right #e65100 green">Edit</a>
        </td>
        <td><a routerLink="/recetteingredient/{{item.id_recetteingredients}}"
                class="btn btn-danger waves-effect waves-light btn right #e65100 green">Delete</a></td>
    </tr>
</tbody>
