<section class="padding-bottom-45">
  <div class="container">
      <div class="row gutters-40">
          <div class="col-lg-8">
              <div class="row gutters-40">
                  <div class="col-12">
                      <div class="product-box-layout4">
                          <div class="section-heading heading-dark">
                              <h2 class="item-heading">TRENDING RECIPES</h2>
                          </div>
                          <div class="item-figure">
                              <img src="assets/img/product/product4.jpg" alt="Product">
                              <a href="single-recipe1.html" class="item-dot">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </a>
                          </div>
                          <div class="item-content">
                              <span class="sub-title">PASTA</span>
                              <h2 class="item-title"><a href="single-recipe1.html">Chanterelle and Porcini
                                      Mushroom Recipes</a></h2>
                              <ul class="item-rating">
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-empty"><i class="fas fa-star"></i></li>
                                  <li><span>9<span> / 10</span></span> </li>
                              </ul>
                              <p>More off this less hello salamander lied porpoise much over tightly circa
                                  horse taped so innocuously side crud mightily rigorous plot life. New homes
                                  in particular are subject.</p>
                              <ul class="entry-meta">
                                  <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                  <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                  <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-12">
                      <div class="product-box-layout4">
                          <div class="item-figure">
                              <img src="assets/img/product/product20.jpg" alt="Product">
                              <a href="single-recipe1.html" class="item-dot">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </a>
                          </div>
                          <div class="item-content">
                              <span class="sub-title">CHICKEN</span>
                              <h3 class="item-title"><a href="single-recipe1.html">Tomatoes Stuffed with Foie
                                      and Chanterelles</a></h3>
                              <ul class="item-rating">
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-empty"><i class="fas fa-star"></i></li>
                                  <li><span>9<span> / 10</span></span> </li>
                              </ul>
                              <ul class="entry-meta">
                                  <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                  <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                  <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-12">
                      <div class="product-box-layout4">
                          <div class="item-figure">
                              <img src="assets/img/product/product21.jpg" alt="Product">
                              <a href="single-recipe1.html" class="item-dot">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </a>
                          </div>
                          <div class="item-content">
                              <span class="sub-title">SALAD</span>
                              <h3 class="item-title"><a href="single-recipe1.html">Tomatoes Stuffed with Foie
                                      and Chanterelles</a></h3>
                              <ul class="item-rating">
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-empty"><i class="fas fa-star"></i></li>
                                  <li><span>9<span> / 10</span></span> </li>
                              </ul>
                              <ul class="entry-meta">
                                  <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                  <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                  <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-12">
                      <div class="product-box-layout4">
                          <div class="item-figure">
                              <img src="assets/img/product/product22.jpg" alt="Product">
                              <a href="single-recipe1.html" class="item-dot">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </a>
                          </div>
                          <div class="item-content">
                              <span class="sub-title">DINNER</span>
                              <h3 class="item-title"><a href="single-recipe1.html">Tomatoes Stuffed with Foie
                                      and Chanterelles</a></h3>
                              <ul class="item-rating">
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-empty"><i class="fas fa-star"></i></li>
                                  <li><span>9<span> / 10</span></span> </li>
                              </ul>
                              <ul class="entry-meta">
                                  <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                  <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                  <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-12">
                      <div class="product-box-layout4">
                          <div class="item-figure">
                              <img src="assets/img/product/product23.jpg" alt="Product">
                              <a href="single-recipe1.html" class="item-dot">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </a>
                          </div>
                          <div class="item-content">
                              <span class="sub-title">JUICE</span>
                              <h3 class="item-title"><a href="single-recipe1.html">Tomatoes Stuffed with Foie
                                      and Chanterelles</a></h3>
                              <ul class="item-rating">
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-empty"><i class="fas fa-star"></i></li>
                                  <li><span>9<span> / 10</span></span> </li>
                              </ul>
                              <ul class="entry-meta">
                                  <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                  <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                  <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-12">
                      <div class="product-box-layout4">
                          <div class="item-figure">
                              <img src="assets/img/product/product24.jpg" alt="Product">
                              <a href="single-recipe1.html" class="item-dot">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </a>
                          </div>
                          <div class="item-content">
                              <span class="sub-title">BREAKFAST</span>
                              <h3 class="item-title"><a href="single-recipe1.html">Tomatoes Stuffed with Foie
                                      and Chanterelles</a></h3>
                              <ul class="item-rating">
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-empty"><i class="fas fa-star"></i></li>
                                  <li><span>9<span> / 10</span></span> </li>
                              </ul>
                              <ul class="entry-meta">
                                  <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                  <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                  <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-12">
                      <div class="product-box-layout4">
                          <div class="item-figure">
                              <img src="assets/img/product/product25.jpg" alt="Product">
                              <a href="single-recipe1.html" class="item-dot">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </a>
                          </div>
                          <div class="item-content">
                              <span class="sub-title">DINNER</span>
                              <h3 class="item-title"><a href="single-recipe1.html">Tomatoes Stuffed with Foie
                                      and Chanterelles</a></h3>
                              <ul class="item-rating">
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-fill"><i class="fas fa-star"></i></li>
                                  <li class="star-empty"><i class="fas fa-star"></i></li>
                                  <li><span>9<span> / 10</span></span> </li>
                              </ul>
                              <ul class="entry-meta">
                                  <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                  <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                  <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
              <!-- <div class="widget ranna-box-padding">
                  <div class="section-heading heading-dark">
                      <h3 class="item-heading">ABOUT ME</h3>
                  </div>
                  <div class="widget-about">
                      <figure class="author-figure"><img src="img/figure/about.jpg" alt="about"></figure>
                      <figure class="author-signature"><img src="img/figure/signature.png" alt="about"></figure>
                      <p>Fusce mauris auctor ollicituder teary iner hendrerit risusey aeenean rauctor pibus
                          doloer.</p>
                  </div>
              </div> -->
              <!-- <div class="widget ranna-box-padding">
                  <div class="section-heading heading-dark">
                      <h3 class="item-heading">SUBSCRIBE &amp; FOLLOW</h3>
                  </div>
                  <div class="widget-follow-us">
                      <ul>
                          <li class="single-item"><a href="#"><i class="fab fa-facebook-f"></i>LIKE ME ON</a></li>
                          <li class="single-item"><a href="#"><i class="fab fa-twitter"></i>LIKE ME</a></li>
                          <li class="single-item"><a href="#"><i class="fab fa-linkedin-in"></i>LIKE ME</a></li>
                          <li class="single-item"><a href="#"><i class="fab fa-pinterest-p"></i>LIKE ME</a></li>
                          <li class="single-item"><a href="#"><i class="fab fa-instagram"></i>LIKE ME</a></li>
                          <li class="single-item"><a href="#"><i class="fab fa-youtube"></i>Subscribe</a></li>
                      </ul>
                  </div>
              </div> -->
              <app-lastrecipes></app-lastrecipes>
              <div class="widget ranna-box-padding">
                  <div class="widget-ad">
                      <a href="#"><img src="assets/img/figure/figure3.jpg" alt="Ad" class="img-fluid"></a>
                  </div>
              </div>
              <app-categorie></app-categorie>
          </div>
      </div>
  </div>
</section>
