


/* 

 .custom-size {
  font-size: 24px;
  }

  .custom-color {
  color: rgba(255, 183, 0, 0.999);
  }
  .custom-rating .star {
    vertical-align: middle;
  }

  .rate-wrapper p {
    margin-top: 0;
  } */









