<section class="padding-bottom-45">
  <div class="container">
      <div class="row gutters-40">
          <div class="col-lg-8">
              <div class="ranna-box-style">
                  <div class="section-heading heading-dark">
                      <h2 class="item-heading">RECETTES PAR CATEGORIE</h2>
                  </div>
                  <div class="row gutters-40">
                      <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                          <div class="product-box-layout6" *ngFor="let recette of recettesFiltrees  ; let i=index">
                              <div class="item-figure" >
                                 <a *ngFor="let g of gallerie"  [routerLink]="['/recette',recette.id_recette]">
                                  <img *ngIf="g.id_recette == recette.id_recette" src="http://localhost:8085/image/{{g.galleriefilename}}" alt="Post" style="width:350px"></a>

                                <a>
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </a>
                              </div>
                              <div class="item-content">
                                  <span class="sub-title">{{recette.categorie_recette}}</span>
                                  <h3 class="item-title"><a href="single-recipe1.html">{{recette.titre_recette}}</a></h3>
                                  <ul class="item-rating">
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-empty"><i class="fas fa-star"></i></li>
                                      <li><span>9<span> / 10</span></span> </li>
                                  </ul>
                                  <p>{{recette.description_recette}}</p>
                                  <ul class="entry-meta remove-3rd-child-lg">
                                      <li><a href="#"><i class="fas fa-clock"></i>{{recette.tempspreparation_recette}}</a></li>
                                      <li><a href="#"><i class="fas fa-user"></i>by <span>{{recette.id_utilisateur}}</span></a></li>
                                      <li><a href="#"><i class="fas fa-heart"></i><span>{{recette.nblike}}</span> Likes</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
                </div>
  </div>
</section>

