<section class="padding-bottom-45">
  <div class="container">
      <div class="row gutters-40">
          <div class="col-lg-8">
              <div class="ranna-box-style">
                  <div class="section-heading heading-dark">
                      <h2 class="item-heading">RECETTES POPULAIRE</h2>
                  </div>
                  <div class="row gutters-40">
                      <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                          <div class="product-box-layout6">
                              <div class="item-figure">
                                  <img src="assets/img/product/product14.jpg" alt="Product">
                                  <a href="single-recipe1.html" class="item-dot">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </a>
                              </div>
                              <div class="item-content">
                                  <span class="sub-title">BREAKFAST</span>
                                  <h3 class="item-title"><a href="single-recipe1.html">Asian Chicken Noodles</a></h3>
                                  <ul class="item-rating">
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-empty"><i class="fas fa-star"></i></li>
                                      <li><span>9<span> / 10</span></span> </li>
                                  </ul>
                                  <p>Pro sint falli definitiones noel ei verear civibus
                                      consequat efficiantue.Vestibulum ante ipsum primis in fau
                                      cibus.</p>
                                  <ul class="entry-meta remove-3rd-child-lg">
                                      <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                      <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                      <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                          <div class="product-box-layout6">
                              <div class="item-figure">
                                  <img src="assets/img/product/product15.jpg" alt="Product">
                                  <a href="single-recipe1.html" class="item-dot">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </a>
                              </div>
                              <div class="item-content">
                                  <span class="sub-title">SEA FOOD</span>
                                  <h3 class="item-title"><a href="single-recipe1.html">Italiano Salad Mixed</a></h3>
                                  <ul class="item-rating">
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-empty"><i class="fas fa-star"></i></li>
                                      <li><span>9<span> / 10</span></span> </li>
                                  </ul>
                                  <p>Pro sint falli definitiones noel ei verear civibus
                                      consequat efficiantue.Vestibulum ante ipsum primis in fau
                                      cibus.</p>
                                  <ul class="entry-meta remove-3rd-child-lg">
                                      <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                      <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                      <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6 col-12">
                          <div class="product-box-layout6">
                              <div class="item-figure">
                                  <img src="assets/img/product/product16.jpg" alt="Product">
                                  <a href="single-recipe1.html" class="item-dot">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </a>
                              </div>
                              <div class="item-content">
                                  <span class="sub-title">SALAD</span>
                                  <h3 class="item-title"><a href="single-recipe1.html">Maxican Dessert</a></h3>
                                  <ul class="item-rating">
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-empty"><i class="fas fa-star"></i></li>
                                      <li><span>9<span> / 10</span></span> </li>
                                  </ul>
                                  <p>Pro sint falli definitiones noel ei verear civibus
                                      consequat efficiantue.Vestibulum ante ipsum primis in fau
                                      cibus.</p>
                                  <ul class="entry-meta remove-3rd-child-lg">
                                      <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                      <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                      <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="d-lg-block d-xl-none col-lg-6 col-md-6 col-sm-6 col-12">
                          <div class="product-box-layout6">
                              <div class="item-figure">
                                  <img src="assets/img/product/product14.jpg" alt="Product">
                                  <a href="single-recipe1.html" class="item-dot">
                                      <span></span>
                                      <span></span>
                                      <span></span>
                                  </a>
                              </div>
                              <div class="item-content">
                                  <span class="sub-title">BREAKFAST</span>
                                  <h3 class="item-title"><a href="single-recipe1.html">Asian Chicken Noodles</a></h3>
                                  <ul class="item-rating">
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-fill"><i class="fas fa-star"></i></li>
                                      <li class="star-empty"><i class="fas fa-star"></i></li>
                                      <li><span>9<span> / 10</span></span> </li>
                                  </ul>
                                  <p>Pro sint falli definitiones noel ei verear civibus
                                      consequat efficiantue.Vestibulum ante ipsum primis in fau
                                      cibus.</p>
                                  <ul class="entry-meta remove-3rd-child-lg">
                                      <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                      <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                      <li><a href="#"><i class="fas fa-heart"></i><span>02</span> Likes</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
              <div class="widget ranna-box-padding">
                  <div class="widget-newsletter-subscribe">
                      <h3>GET LATEST UPDATES</h3>
                      <p>Newsletter Subscribe</p>
                      <form class="newsletter-subscribe-form">
                          <div class="form-group">
                              <input type="text" placeholder="your e-mail address" class="form-control" name="email"
                                  data-error="E-mail field is required" required>
                              <div class="help-block with-errors"></div>
                          </div>
                          <div class="form-group mb-none">
                              <button type="submit" class="item-btn">SUBSCRIBE</button>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="widget ranna-box-padding">
                  <div class="section-heading heading-dark">
                      <h3 class="item-heading">FEATURED ARTICLE</h3>
                  </div>
                  <div class="widget-featured-feed2">
                      <div class="rc-carousel nav-control-layout1" data-loop="true" data-items="3"
                          data-margin="5" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="700"
                          data-dots="false" data-nav="true" data-nav-speed="false" data-r-x-small="1"
                          data-r-x-small-nav="true" data-r-x-small-dots="false" data-r-x-medium="1"
                          data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="1"
                          data-r-small-nav="true" data-r-small-dots="false" data-r-medium="1"
                          data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="1"
                          data-r-large-nav="true" data-r-large-dots="false" data-r-extra-large="1"
                          data-r-extra-large-nav="true" data-r-extra-large-dots="false">
                          <div class="featured-box-layout2">
                              <div class="item-img">
                                  <img src="assets/img/product/product17.jpg" alt="Brand" class="img-fluid">
                              </div>
                              <div class="item-content">
                                  <span class="ctg-name">BREAKFAST</span>
                                  <h4 class="item-title"><a href="single-recipe1.html">Baked Garlic Prawn</a></h4>
                                  <p>Definitiones noel ei verear intelle
                                      gatpri civibus consequat area
                                      refund.</p>
                                  <ul class="entry-meta">
                                      <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                      <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="featured-box-layout2">
                              <div class="item-img">
                                  <img src="assets/img/product/product18.jpg" alt="Brand" class="img-fluid">
                              </div>
                              <div class="item-content">
                                  <span class="ctg-name">DINNER</span>
                                  <h4 class="item-title"><a href="single-recipe1.html">Baked Garlic Prawn</a></h4>
                                  <p>Definitiones noel ei verear intelle
                                      gatpri civibus consequat area
                                      refund.</p>
                                  <ul class="entry-meta">
                                      <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                      <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="featured-box-layout2">
                              <div class="item-img">
                                  <img src="assets/img/product/product19.jpg" alt="Brand" class="img-fluid">
                              </div>
                              <div class="item-content">
                                  <span class="ctg-name">SALAD</span>
                                  <h4 class="item-title"><a href="single-recipe1.html">Baked Garlic Prawn</a></h4>
                                  <p>Definitiones noel ei verear intelle
                                      gatpri civibus consequat area
                                      refund.</p>
                                  <ul class="entry-meta">
                                      <li><a href="#"><i class="fas fa-clock"></i>15 Mins</a></li>
                                      <li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</section>
